{% ckan_extends %}

{% block styles %}
    {{super()}}
    {% resource 'githubfeed/githubfeed.css' %}
{% endblock %}


{% block github_extension %}
<div class="col-md-6">
    <div>Ultimele taskuri adaugate: </div>
    <ul class="github-issues-list">
        {% for task in h.githubfeed_gettasks()[:3] %}
        <li class="github-issue">
            <a target="_blank" href="{{task['html_url']}}">
                <img src="/github_logo.png" class="github-logo">
                {{task['title']}}
            </a>
        </li>
        {% endfor %}
    </ul>

    <!-- {{ h.githubfeed_gettasks() }} -->

    <div class="see-all-link">
        <a target="_blank" href="{{ h.githubfeed_getallissuesurl }}">VEZI TOATE TASKURILE</a>
    </div>
</div>
{% endblock github_extension %} 